<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>学生一覧</title>
  <link rel="stylesheet" th:href="@{/index.css}">
</head>

<body>
  <h1>学生一覧</h1>
  <div class="message" th:if="${message != null}">メッセージ: [[${message}]]</div>
  <div class="error" th:if="${error != null}">エラー: [[${error}]]</div>
  <div class="message" th:if="${messageFromPrev != null}">メッセージ: [[${messageFromPrev}]]</div>
  <div class="error" th:if="${errorFromPrev != null}">エラー: [[${errorFromPrev}]]</div>
  <h2>学生一覧（[[${students.size()}]]件）</h2>
  <table th:if="${students != null}">
    <thead>
      <tr>
        <td>学籍番号</td>
        <td>名前</td>
      </tr>
    </thead>
    <tbody th:each="student : ${students}">
      <tr>
        <td>[[${student.getId()}]]</td>
        <td>[[${student.getName()}]]</td>
      </tr>
    </tbody>
  </table>
  <h2>学生を登録する</h2>
  <form th:action="@{/students/create}" method="post">
    <ul>
      <li>
        <label>学籍番号：<input type="text" name="id" th:value="${lastInputId != null ? lastInputId : ''}"></label>
        <label>名前：<input type="text" name="name" th:value="${lastInputName != null ? lastInputName : ''}"></label>
      </li>
    </ul>
    <button type="submit">登録</button>
  </form>
</body>

</html>
